$raleway: 'Raleway', sans-serif;
$roboto: 'Roboto', sans-serif;

$black: #000;
$black_transparent: rgba(0, 0, 0, 0.702);
$white: #fff;
$skyblue: #9ab4be;
$redbutton: #ff2b4a;
$litegrey: #b2b2be;
$darkgrey: #eff0f2;